@media (max-width: 767px) {
    .Landing {
        justify-content: center;
        text-align: center;
        h1 {
            font-family: $font1;
            font-size: 1.75em;
            color: white;
            margin: 0;
            transform: translateY(-50px);
        }
    }
}

@media (min-width: 768px) {
    .Landing {
        justify-content: center;
        h1 {
            font-family: $font1;
            font-size: 2.05em;
            color: white;
            margin: 0;
            transform: translateY(-35px);
        }
    }
}

@media (min-width: 1024px) {
    .Landing {
        justify-content: center;
        h1 {
            font-family: $font1;
            font-size: 2.85em;
            color: white;
            margin: 0;
            transform: translateY(-35px);
        }
    }
}
